/* Container que dita o comportamento da imagem */
.image-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  /* Limite opcional de largura */
  display: inline-block;
  overflow: hidden;
}


/* A máscara com opacidade */
.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* Cor preta com 50% de opacidade */
  pointer-events: none;
  /* Garante que cliques passem direto para a imagem se necessário */
}

.info-float {
  position: fixed;
  bottom: 30px;
  /* Distância do fundo da tela */
  left: 20px;
  /* Distância do canto direito da tela */
  background-color: #FFEE1750;
  color: #FFF;
  padding: 1.125rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  /* Garante que fica por cima de outros elementos */
}